* {
    margin: 0;
    padding: 0;
}

.player, .goal {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    display: none;
}

.player {
    background: red;
    z-index: 100;
}

.goal {
    background: blue;
    transform: translate(380px, 380px);
    z-index: 100;
}


.wallDiv {
    width: 20px;
    height: 20px;
    background: green;
    display: none;
    float: left;
    line-height: 0;
    margin: 0;
    transform: translate(0px, 0px);
    z-index: 100;

}

.maze {

    border: 10px solid black;
    margin: auto;
    z-index: 1;
}


.row {
    height: 20px;
    width: auto;
    line-height: 200px;
    
}

.column {
    
    float: left;
    width: 20px;
    height: 100%;
    background: green;
    
}

#sizes {
    margin: auto;
    padding: 0.25em;
    font-size: 2em;
    font-weight: 600;
}