.player, .goal {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: absolute;
    display: block;
}

.player {
    background: red;
    z-index: 100;

}

.goal {
    background: blue;
    transform: translate(380px, 380px);
}

.maze {
    width: 920px;
    height: 900px;
    background: burlywood;
    border: 20px solid black;
    position: relative;
}

.wall {
    width: 18px;
    height: 18px;
    margin: 1px;
    background: green;
    display: inline-block;
    line-height: 0;
    line-break: strict;
    position: absolute;
}

.initial-wall {
    display: none;
}

#myCanvas {
    display: none;
}