.player, .goal {
    width: 19px;
    height: 19px;
    display: inline-block;
    position: absolute;
    display: block;
}

.player {
    background: red;
    z-index: 100;
}

.goal {
    background: blue;
    transform: translate(380px, 380px);
    z-index: 100;
}

.maze {
   
    width: 820px;
    height: 720px;
    background: burlywood;
    border: 20px solid black;
    position: relative;
    top: 100px;
    left: 100px;
    overflow: hidden;
    z-index: 1;
}

.wall {
    width: 18px;
    height: 18px;
    margin: 1px;
    background: green;
    display: inline-block;
    line-height: 0;
    line-break: strict;
    position: absolute;
    z-index: 100;
}

.initial-wall {
    display: none;
}

#myCanvas {
    display: none;
}